body {
    background-color: #E6FFFD;
    align-items: center;
    }
    .card{
      box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
      border-radius: 0px;
      border: none;
    }
    
    
     
      .divTable
      {
          display: table;
          width:auto;
          border-spacing:5px;
      }
      .divRow
      {
          width:auto;
          display:table-row;
          text-align: center;
          font-size: small;
      }
      .divCell
      {
          width:75px;
          float:left;
          display:table-column;
          text-align: center;
          font-size: small;
      }
      table, td {
        border-collapse: collapse;
        font-size: small;
        text-align: center;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
      }

      /* Darker background on mouse-over */
      .btn:hover {
        background-color: RoyalBlue;
      }

      .btnChangeBackground{
        background-color: #FFFF;
        border:none;
        width:40px;
        height:40px;
        text-align: center;
        align-items: center;
        cursor:pointer;
      }

      .btnChangeBackground:hover{
        transform: scale(1.02);
        box-shadow: 0 4px 16px -7px rgba(0,0,0,0.3);
      }

      .btnOutDoor{
        background-color: #FFFF;
        border:2px #E6FFFD;
        width:60px;
        height:60px;
        margin:10px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        border-radius:5px;
        cursor:pointer;
      }

      .btnOutDoor:hover{
        transform: scale(1.02);
        box-shadow: 0 4px 16px -7px rgba(0,0,0,0.3);
      }
    
      .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #146C94;
        color: white;
        text-align: center;
        height: 2rem;            /* Footer height */
        
      }

    /*Chart Styles*/
    .chart-heading{
       /* font-family: "Rubik",sans-serif; */
        color:#025464;
        font-size:15px;
    }

    .chart-container{
        width: 225px;
    }

    .weather-last-week{
         /* font-family: "Rubik",sans-serif; */
        display: flex;
        align-items:center;
        gap:24px;
        margin:0 auto;
        width:fit-content;
        box-shadow: 0 4px 12px -2px rgba(0,0,0,0.3);
       /* border-radius: 20px; */
        padding:8px 20px;
        color:#023047;
        transition: all 400ms ease;
    }

    .weather-last-week:hover{
        transform: scale(1.02);
        box-shadow: 0 4px 16px -7px rgba(0,0,0,0.3);
    }

    .weather-last-week .details ul{
        list-style: none;
        padding:0;
    }

    .weather-last-week .details ul li{
        font-size:16px;
        margin: 12px 0;
      /*  text-transform: uppercase; */
    }

    .weather-last-week .details .weatherStatus{
        font-weight: 700;
        color:blue
    }